HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# maven
*.versionsBackup

# local property files
application-local.properties

# potential store directories
store/
data/

# log files
*.log
*.log.*.gz

# temp files
.lock
kafka-streams-process-metadata

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

